{% extends 'itemspage/base.html' %}


{% block body %}

<section class="view intro-2">
  <div class="rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
        {% comment %} FORM STARTS HERE ----------------------------------------- {% endcomment %}
          <form class="bg-white rounded shadow-5-strong p-5" action="{% url 'login_view' %}" method="post">
          {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="username" class="form-control" />
              <label class="form-label" for="username">UserName</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control" />
              <label class="form-label" for="password">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                  <label class="form-check-label" for="form1Example3">
                    Remember me
                  </label>
                </div>
              </div>

              <div class="col text-center">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </form>
        {% comment %} FORM ENDS HERE ------------------------------------------- {% endcomment %}  
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
